################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MorePig/PigAccount/obj/Debug
/MorePig/PigService/obj/Debug
/MorePig/.vs/MorePig/v15/Server/sqlite3
/MorePig/PigApi/obj/Debug
/MorePig/PigPlatform/obj/Debug
/MorePig/PigRun/obj/Debug
/MorePig/packages
/MorePig/Test/bin/Debug
/MorePig/Test/obj/Debug
/MorePig/PigPlatform/bin/Debug
/MorePig/PigApi/bin/Debug
/MorePig/PigAccount/bin/Debug
/MorePig/PigService/bin/Debug
/MorePig/PigRun/bin/Debug
/MorePig/PigRunService/obj/Debug
/MorePig/PigRunService/bin/Debug
