################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MorePig/PigAccount/obj/Debug
/MorePig/PigService/obj/Debug
/MorePig/.vs/MorePig/v15/Server/sqlite3
/MorePig/PigApi/obj/Debug
/MorePig/PigPlatform/obj/Debug
/MorePig/PigRun/obj/Debug
